{% extends "base.html" %} {% block title %}Top Scorers{% endblock %} {% block
content %}
<h1 align="center">Top Scorers</h1>
<ol class="list-group list-group-flush" id="pary">
  {% for player in standings %}

  <div align="center">
    <ol class="badge badge-dark">
      <h3>{{player.name}} Goals Scored:{{player.points_scored}}</h3>
    </ol>
  </div>
  <br />
  {% endfor %}
</ol>

<br />
<div align="right">
  <a href="/tournaments">
    <button
      style="width: 210px; background-color: #5aa0ba"
      type="button"
      class="btn-danger_nav_schedule"
    >
      Back to Your Tournaments
    </button>
  </a>
  <a href="/">
    <button type="button" class="btn-danger_nav_schedule">Return home</button>
  </a>
</div>
{% endblock %}
