{% extends "base.html" %} {% block title %}Add Admin{% endblock %} {% block content %}
<section class="admin_box_container container_admin">
    <br>
    <form method="POST">
        <h3 align="center">Add new admin</h3>
        <div class="form-group">
            <label class="label_login" for="email">New admin's email</label>
            <input type="email" class="form_control" id="email" name="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
            <label class="label_login" for="password">Confirm with your password</label>
            <input type="password" class="form_control" id="password" name="password" placeholder="Enter password" />
        </div>
        <br />
        <center>
            <button type="submit" class="btn-danger_nav_login">Login</button>
        </center>
    </form>
</section>
{% endblock %}