{% extends "base.html" %} {% block title %}Change password{% endblock %} {% block content %}
<section class="edit_password_box_container container_edit_password">
	<form method="POST">
		<br>
		<h3 style="margin-bottom: 30px; margin-top: 10px;" align="center">Change password</h3>
		<section style="margin-top: -20px;">
			<div class="form-group">
				<label class="label_login" for="password1">Password</label>
				<input type="password" class="form_control" id="password1" name="oldPW" />
			</div>
			<div class="form-group">
				<label class="label_login" for="password1">New Password</label>
				<input type="password" class="form_control" id="password1" name="newPW" />
			</div>
			<div class="form-group">
				<label class="label_login" for="password2">New Password (Confirm)</label>
				<input type="password" class="form_control" id="password2" name="newPWc" />
			</div>
			<hr>
			<br>
			<!-- style="margin-left: 111px; margin-right: 20px;" -->
			<div align="center">
				<button style="width: 200px;" id="btn" type="submit" class="btn-danger_nav_login"><i class="fas fa-key"></i> Update
					password</button>
			</div>
			<!-- <a href="/change-password">
				<button id="btn" type="submit" class="btn-danger_nav_login"><i class="fas fa-backward"></i>
					Back</button>
			</a> -->

		</section>
	</form>
</section>
{% endblock %}