{% extends "base.html" %} {% block title %}Account settings{% endblock %} {% block content %}
<section class="edit_box_container container_edit">
	<form method="POST">
		<br>
		<h3 style="margin-bottom: 30px; margin-top: 10px;" align="center">Account settings</h3>
		<section style="margin-top: -20px;">
			<div class="form-group">
				<label class="label_login" for="email">Email Address</label>
				<input name='email' value="{{user.email}}" type="email" class="form_control" id="email" name="email" />
			</div>
			<div class="form-group">
				<label class="label_login" for="firstName">First Name</label>
				<input name='firstName' value="{{user.first_name}}" type="text" class="form_control" id="firstName"
					name="firstName" />
			</div>
			<label class="label_login" for="firstName">Avatar</label>
			<center>
				<input name='avatar'
					style="background-color: transparent;border: 2px solid rgb(212, 212, 212);color: rgb(212, 212, 212);border-radius: 5px;padding: 8px;width: 50%;"
					type="file" id="file" aria-label="File browser example">
				<span class="file-custom"></span>
			</center>
			<br>
			<hr>
			<button style="margin-left: 111px; margin-right: 20px;" id="btn" type="submit"
				class="btn-danger_nav_login"><i class="fas fa-pen-square"></i> Update
				profile</button>
	</form>
	<a href="/change-password">
		<button class="btn-danger_nav_login"><i class="fas fa-key"></i> Change
			password</button>
	</a>

</section>

</section>
<br>
<section>
	<center><a onClick="deleteUser({{user.id}})" class="delete_account" href="#"><i class="fas fa-trash"></i> Delete
			Account</a></center>
</section>
{% endblock %}