{% extends "base.html" %} {% block title %}Account settings{% endblock %} {% block content %}
<section class="edit_box_container container_edit">
	<form method="POST">
		<br>
		<h3 style="margin-bottom: 30px; margin-top: 10px;" align="center">Account settings</h3>
		<section style="margin-top: -20px;">
			<div class="form-group">
				<label class="label_login" for="email">Email Address</label>
				<input value="{{user.email}}" type="email" class="form_control" id="email" name="email" />
			</div>
			<div class="form-group">
				<label class="label_login" for="firstName">First Name</label>
				<input value="{{user.first_name}}" type="text" class="form_control" id="firstName" name="firstName" />
			</div>
			<hr>
			<div align="center">
				<button id="btn" type="submit" class="btn-danger_nav_login"><i class="fas fa-pen-square"></i> Update
					profile</button>
			</div>
		</section>
	</form>
	<br>
	<div align="center">
		<a href="/change-password">
			<button style="width: 180px; margin-top: -20px;" id="btn" type="submit" class="btn-danger_nav_login"><i class="fas fa-key"></i>
				Change
				password</button>
		</a>
	</div>
</section>
<br>
<section>
	<center><a onClick="deleteUser({{user.id}})" class="delete_account" href="#"><i class="fas fa-trash"></i> Delete
			Account</a></center>
</section>
{% endblock %}