{% extends "base.html" %} {% block title %}Edit Tournament{% endblock %} {% block content %}
<section class="edit_tournaments_box_container container_tournaments_edit">
    <br />
    <form method="POST">
        <h3 style="margin-bottom: 20px;" align="center">Edit Tournament</h3>
        <div class="form-group">
            <label class="label_login">Name</label>
            <input type="text" class="form_control" name="name" value="{{tournament.name}}" />
        </div>
        <div class="form-group">
            <label class="label_login">Date</label>
            <input type="date" class="form_control" name="date" value="{{tournament.date}}" />
        </div>
        <div class="form-group ">
            <label class="label_login">Location</label>
            <input type="text " class="form_control" name="location" value="{{tournament.location}}" />
        </div>
        <div class="form-group ">
            <label class="label_login">Video (paste link)</label>
            <input type="text " class="form_control" name="movielink" value="{{tournament.movielink}}" />
        </div>
        <div class="form-group ">
            <label class="label_login">Limit of participants</label>
            <input type="number" min="2" max="200" step="2" value="{{tournament.max_opponents}}" class="form_control" name="max_opponents" />
        </div>
        <div>
            <label class="label_login">Discipline</label>
            <select name="discipline" class="form_control">
                <option disabled selected value> -- {{tournament.discipline}} -- </option>
                <option value="Football">Football</option>
                <option value="Basketball">Basketball</option>
                <option value="Volleyball">Volleyball</option>
                <option value="Chess">Chess</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <br />

        <center>
            <button id="btn " type="submit " class="btn-danger_nav_login ">Save</button>
        </center>
    </form>
</section>

{% endblock %}