{% extends "base.html" %} {% block title %}Home page{% endblock %} {% block content %}

<section class="home_box_container container_home">
    <div>
        <center><img src="../static/logo 31lo.png" width="250px" /></center>
        <h1 align="center">Welcome at the home page!</h1>
        <div style="margin-right: 5%; margin-left:5%">
            <h5 align="center" style="color: white; ">
                You can use that website to create your own tournaments, generate rounds using various algorithms and track public tournament made by other students. Have fun!
        </div>
        </h5>
    </div>

    <br />
    <form method="POST">
        <div align="center">
            {% if user.is_authenticated %}

            <a href="/tournaments">
                <button id="btn" type="button" class="btn-danger_nav_generate">
                <i class="fas fa-trophy"></i>
                    Your Tournaments
                </button>
            </a>
            {% else %}
            <a href="/public-tournaments">
                <button id="btn" type="button" class="btn-danger_nav_generate">
                <i class="fas fa-globe-europe"></i>
                    Global Tournaments
                </button>
            </a>
            {% endif %}
        </div>

    </form>
</section>

<!-- <section style="float: left;" class="reklama_box_container container_reklama">
</section> -->

<footer align="center" class="sticky-footer">
    <p style="color: #5aa0ba; text-align: center; font-weight: bold;">
        © Patronat 31 Liceum Ogólnokształcące.
    </p>
    <p style="color: #5aa0ba; text-align: center;">
        Twórcy: <strong class="author">Piotr Rzadkowski</strong> |
        <strong class="author">Jakub Błaszczyk</strong>
    </p>
    <p style="color: #5aa0ba; text-align: center">
        Pomoc: <strong class="author">Marek Rzadkowski</strong> |
        <strong class="author">Piotr Zapała</strong> |
        <strong class="author">Ira Puchkova</strong> |
        <strong class="author">Klaudiusz Kurbiel</strong>

    </p>
    <hr style="width: 20%;" />

        <div style="margin-top: 20px;">
        <a title="Instagram" href="https://www.instagram.com/31lokrakow/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram icon_home"></i></a>
        <a title="Facebook"  href="https://www.facebook.com/31LOKrakow" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook icon_home"></i></a>
        <a title="Strona Internetowa" href="https://www.lo31.krakow.pl/" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-globe icon_home"></i></a>
        <a title="Tiktok" href="https://www.youtube.com/c/31LOKRAK%C3%93W" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube icon_home"></i>
        </div>
</footer>

{% endblock %}