{% extends "base.html" %} {% block title %}Tournaments You Have Joined{% endblock %} {% block content %}
<section class="video_box_container container_video">
    <br>
    <div align="right">
        <a href="/tournaments">
            <button id="btn" style="width: 260px; margin: 6px;" type="button" class="btn-danger_join_tournaments">
        <i class="fa fa-trophy"></i>
            Tournaments You Have Created
        </button>
        </a>
    </div>
    <h3 align="center">Tournaments You Have Joined</h3>
    <hr style="width: 20%;" />
    <section style="display: flex; flex-wrap: wrap; align-items: center; margin-left: 50px;" class="container_contact ">
        {% for tournament in tournaments %}
        <div class="card ">
            <div align="center ">
                <h4 class="h4_video">{{tournament.name}}</h4>
                <h4 class="h4_date_video">{{tournament.date}}</h4>
                <a href="#">
                    <button id="btn" onClick="showMyPublicTournament({{tournament.id}}) " class="btn-video">Details</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
</section>

{% endblock %}