{% extends "base.html" %} {% block title %}Schedule Generator{% endblock %} {% block
  content %}
  <h1 align="center">Add Participants</h1>
  Lista uczestników
  <ol class="list-group list-group-flush" id="notes">
    {% for player in user.players %}
    <li align="center" class="list-group-item">
     {{player.name}}
      <button type="button" class="close" onClick="deletePlayer({{player.id}})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ol>
  <form method="POST">
    <textarea name="name" it="player_name" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add participant</button>
      <a type="button" href="/generate" class="btn btn-dark">Save</a>
    </div>
  </form>
  {% endblock %}
  