{% extends "base.html" %} {% block title %}Public Schedule{% endblock %} {%
block content %}

<section class="public_schedule_box_container container_schedule_public">
  <br />
  <h3 align="center">{{tournament.name}}</h3>
  <ol class="list-group list-group-flush" id="pary">
    <div style="margin-right: 30px" align="right">
      <a href="/public-standings">
        <button id="btn" type="button" class="btn-add">Standings</button>
      </a>
    </div>
    {% for round in tournament.rounds %} {% if round.number
    <=tournament.current_round_number %}
    <h4 align="center" class="h4_round">Runda: {{round.number}}</h4>

    <ol class="list-group list-group-flush" id="pary">
      {% for dual in round.duals %}
      <div align="center">
        <li>
          <button disabled class="btn_schedule_list badge">
            <div
              class="btn-danger_nav_list_group_schedule_nick_one"
              align="left"
              style="display: inline-block"
            >
              <h4>{{dual.opponent_1.name}}</h4>
            </div>

            <!-- wynik -->
            <div
              class="btn-danger_nav_list_group_schedule_point"
              style="display: inline-block"
            >
              {% if dual.score_1 is none or dual.score_1 is none %}
              <h4 style="color: #a03636; font-weight: 700">0 - 0</h4>
              {% else %}
              <h4 style="color: #5aa0ba; font-weight: 700">
                {{dual.score_1}}:{{dual.score_2}}
              </h4>
              {% endif %}
            </div>
            <div
              class="btn-danger_nav_list_group_schedule_nick_two"
              align="right"
              style="display: inline-block"
            >
              <h4>{{dual.opponent_2.name}}</h4>
            </div>
          </button>
        </li>
      </div>
      {% endfor %}
    </ol>
  </ol>
  {% endif %} {% endfor %}
  <br />
</section>
{% endblock %}
