{% extends "base.html" %} {% block title %}Public Schedule{% endblock %} {% block content %}
<section class="video_box_container container_video">
    <br>
    <h3 align="center">Public Tournaments</h3>
    <hr style="width: 20%;" />
    <section style="display: flex; flex-wrap: wrap; align-items: center; margin-left: 50px;" class="container_contact ">
        {% for tournament in tournaments %}
        <div class="card ">
            <div align="center ">
                <h4 class="h4_video">{{tournament.name}}</h4>
                <h4 class="h4_date_video">{{tournament.date}}</h4>
                <h4 class="h4_date_video">Players: {{tournament.opponents|length}}</h4>
                <a href="#">
                    <button id="btn" onClick="showPublicTournament({{tournament.id}}) "
                        class="btn-video">Details</button>
                </a>
            </div>
        </div>


        {% endfor %}
    </section>
</section>

{% endblock %}