{% extends "base.html" %} {% block title %}Schedule{% endblock %} {% block
    content %}
    <h1 align="center">Schedule</h1>
    <ol class="list-group list-group-flush" id="pary">
      {% for round in Schedule %}
      {% for duo in round.duos %}
    
      <div align="center">
        {% for particip in duo.participants %}
        <ol class="badge badge-dark">
          <div  class="list-group-horizontal"><h3>{{particip.name}}: {{particip.score}}</h3> </div>
        </ol>    
        {% endfor %}
    
      </div>
      {% endfor %}
      <br />
      
      {% endfor %}
    </ol>
    
    <br />
    
    <div align="right">
      <a type="button" href="/" class="btn btn-dark">Return home</a>
    
    </div>
    {% endblock %}
    