{% extends "base.html" %} {% block title %}Schedule{% endblock %} {% block content %}

<section class="schedule_box_container container_schedule">
    <br />
    <h3 align="center">{{tournament.name}}</h3>
    <tbody class="list-group list-group-flush" id="pary">
        <div style="margin-right: 30px;" align="right">
            <a href="/standings">
                <button id="btn" type="button" class="btn-add">Standings</button>
            </a>
        </div>
        {% for round in tournament.rounds %} {% if round.number
        <=tournament.current_round_number %} <h4 align="center" class="h4_round">Round: {{round.number}}</h4>
            {% for dual in round.duals %}

            <tr class="list-group list-group-flush" id="pary">
                <div align="center">
                    <td class="badge">
                        <button id="btn" class="btn_schedule_list" onClick="showDual({{dual.id}})">


          <div class="btn-danger_nav_list_group_schedule_nick_one" align="left" style="display: inline-block">
              <h4>
              {{dual.opponent_1.name}}
              <br />
            </h4>
          </div>



            <!-- wynik -->
            <div class="btn-danger_nav_list_group_schedule_point" style="display: inline-block">
              {% if dual.score_1 is none or dual.score_1 is none %} 
              <h4 style="color: #a03636; font-weight: 700;"> 0 : 0 </h4>
              {% else %}
              <h4 style="color: #5aa0ba; font-weight: 700;">{{dual.score_1}} : {{dual.score_2}}</h4>
              {% endif %}

            </div>


            <div class="btn-danger_nav_list_group_schedule_nick_two" align="right" style="display: inline-block">
              <h4>{{dual.opponent_2.name}}
              <br />
              </h4>

            </div>


            </button> {% endfor %}

                    </td>
                    </h4>
                    <br>
                </div>
                <br />
            </tr>
    </tbody>
    <br> {% endif %} {% endfor %} {% if tournament.current_round_number == 0 or tournament.current_round_number
    < tournament.max_rounds %} <br>
        <div align="center">
            <a href="/generate-new-round">
                <button id="btn" style="background-color: rgb(55, 134, 81)" type="button" class="btn-danger_nav_schedule">
      New Round
    </button>
            </a>
            {% endif %}
            <!-- <a href="/standings">
                <button type="button" class="btn-danger_nav_schedule">Standings</button>
            </a> -->
            <!-- <a href="delete-tournament">
                < <button style="background-color: #a03636" class="btn-danger_nav_schedule" onClick="deleteTournament({{tournament.id}})">
        Delete Schedule
                </button> -->
            </a>

            {% if user.is_admin %}
            <a href="/publish-schedule ">
                <button id="btn" style="background-color: rgb(55, 65, 95) " type="button " class="btn-danger_nav_schedule">
        Publish
      </button>
            </a>
            {% endif %}
        </div>
        <br>
</section>
{% endblock %}