{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<section class="sign_box_container container_sign">
    <form method="POST">
        <br>
        <h3 style="margin-bottom: 25px; margin-top: 10px;" align="center">Sign up</h3>
        <div class="form-group">
            <label class="label_login" for="email">Email Address<a style="margin-left: 175px;" class="signup_label"
                        title="Already have an account?" id="login" href="/login">Log in</a></label>
            <input type="email" class="form_control" id="email" name="email" />
        </div>
        <div class="form-group">
            <label class="label_login" for="firstName">First Name</label>
            <input type="text" class="form_control" id="firstName" name="firstName" />
        </div>
        <div class="form-group">
            <label class="label_login" for="password1">Password</label>
            <input type="password" class="form_control" id="password1" name="password1" />
        </div>
        <div class="form-group">
            <label class="label_login" for="password2">Password (Confirm)</label>
            <input type="password" class="form_control" id="password2" name="password2" />
        </div>
        <br />
        <center>
            <button id="btn" type="submit" class="btn-danger_nav_login"><i class="far fa-registered"></i> Sign up</button>
        </center>
    </form>

</section>
<br>
<section align="center">
    <label class="h4_signup_footer">© 2021 Patronat <a
                style="font-size: 15px; text-decoration: underline; font-weight: 700;"
                href="https://www.lo31.krakow.pl/">31 Liceum Ogólnokształcące</a>. All rights reserved.</label>
</section>
{% endblock %}