{% extends "base.html" %} {% block title %}Your Tournaments{% endblock %} {%
block content %}
<section class="tournaments_box_container container_tournaments">
  <br />
  <h3 align="center">Your Tournaments</h3>
  <!-- {% if user.tournaments|length > 0 %} -->
  <table style="margin: auto">
    <tbody style="display: flex; margin-bottom: 15px; margin-top: 15px">
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Name</td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Number Of Players</td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Date</td>
        </div>
      </tr>
      <tr class="btn-danger_nav_list_group_tournaments">
        <div align="center ">
          <td>Location</td>
        </div>
      </tr>
    </tbody>

    {% for tournament in user.tournaments %}
    <table style="margin: auto">
      <tbody
        class="btn_tournaments_list"
        onClick="showTournament({{tournament.id}}) "
        style="display: flex; margin-bottom: 15px"
      >
        <button id="button_close" class="close_tournaments">
          <span onClick="deleteTournament({{tournament.id}})" aria-hidden="true"
            >&times;</span
          >
        </button>
        <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
          <td>{{tournament.name}}</td>
        </tr>
        <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
          <td>Players: {{tournament.opponents|length}}</td>
        </tr>
        <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
          <td>{{tournament.date}}</td>
        </tr>
        <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
          <td>{{tournament.location}}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
    <br />
  </table>

  <!-- {% else %} -->
  <!-- <h5 style="color: white;" align="center">Eventually your have no active tournaments.</h5> -->
  <!-- {% endif %} -->

  <br />
  <div align="center ">
    <a href="/new-tournament ">
      <button id="btn" type="button " class="btn-danger_nav_tournaments">
        Generate new schedule
      </button>
    </a>
  </div>
  <br />
</section>

{% endblock %}
