{% extends "base.html" %} {% block title %}Tournaments You Have Created{% endblock %} {% block content %}
<section class="tournaments_box_container container_tournaments">
    <br />
    <div align="right">
        <a href="/joined-tournaments">
            <button id="btn" style="margin: 6px;" type="button" class="btn-danger_join_tournaments">
            <i title="Tournaments You Have Joined" class="fa fa-trophy"></i>
            Tournaments You Have Joined
        </button>
        </a>
    </div>
    <h3 align="center">Tournaments You Have Created</h3>
    {% if user.tournaments|length > 0 %}
    <table style="margin: auto">
        <tbody style="display: flex; margin-top: 15px">
            <tr class="btn-danger_nav_list_group_tournaments">
                <div align="center ">
                    <td>Name</td>
                </div>
            </tr>
            <tr class="btn-danger_nav_list_group_tournaments">
                <div align="center ">
                    <td>Number Of Players</td>
                </div>
            </tr>
            <tr class="btn-danger_nav_list_group_tournaments">
                <div align="center ">
                    <td>Date</td>
                </div>
            </tr>
            <tr class="btn-danger_nav_list_group_tournaments">
                <div align="center ">
                    <td>Location</td>
                </div>
            </tr>
        </tbody>

        {% for tournament in user.tournaments %}
        <table style="margin: auto">
            <tbody class="btn_tournaments_list" onClick="showTournament({{tournament.id}}) " style="display: flex; margin-bottom: 15px">
                <button title="Tournament Settings" style="float: right; margin-top: 30px; margin-bottom: -55px" id="myBtnSettings-{{loop.index}}" class="icon_settings">
                    <img src="../static/pngegg.png" width="30" height="30" />
                </button> {% if tournament.status == 'upcoming' %}
                <button style="margin-left: 30px; margin-right: -70px" class="btn_activity upcoming"></button> {% endif %} {% if tournament.status == 'active' %}
                <button style="margin-left: 30px; margin-right: -70px" class="btn_activity conduct"></button> {% endif %} {% if tournament.status == 'ended' %}
                <button style="margin-left: 30px; margin-right: -70px" class="btn_activity ended"></button> {% endif %}

                <div style="float: right" id="settings_modal-{{loop.index}}" class="modal hidden">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>
                                Settings
                                <h4 style="
                    font-size: 13px;
                    font-weight: 700;
                    margin-top: 15px;
                    color: #5aa0ba;
                  ">
                                    {{tournament.name}}
                                </h4>
                            </h2>
                            <span class="close_settings">&times;</span>
                        </div>
                        <div class="modal-body">
                            <a href="/edit-tournament" onClick="editTournament({{tournament.id}})">
                                <button style="float: right; margin-right: 10px; margin: 15px" id="btn" class="btn-add-settings">
                                <i class="fa fa-edit"></i>
                                    Edit
                                </button>
                            </a>
                            <a href="#" onClick="deleteTournament({{tournament.id}})">
                                <button style="float: left; margin-left: 10px; margin: 15px" id="btn" class="btn-add-settings_delete">
                               <i class="fa fa-trash"></i>
                                    Delete
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
                    <td>{{tournament.name}}</td>
                </tr>
                <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
                    <td>Players: {{tournament.opponents|length}}</td>
                </tr>
                <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
                    <td>{{tournament.date}}</td>
                </tr>
                <tr class="btn-danger_nav_list_group_tournaments_name" align="center ">
                    <td>{{tournament.location}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <hr style="border: transparent; background-color: #20242a;">  -->
        {% endfor %}
        <br />
    </table>

    <div class="box">
        <div class="box__content">
            <div class="box__title">Legend</div>
            <div style="font-size: 14px" class="box__description modal-header">
                Information about status of the tournament:
            </div>
            <div style="margin-top: -20px">
                <button style="margin-left: 0px; margin-right: 0px" class="btn_activity upcoming">
                    <p class="p_information">Upcoming</p>
                </button><br /><br />
                <button style="margin-left: 0px; margin-right: 0px" class="btn_activity conduct">
                    <p class="p_information">Conduct</p>
                </button><br /><br />
                <button style="margin-left: 0px; margin-right: 0px" class="btn_activity ended">
                    <p class="p_information">Ended</p>
                </button><br /><br />
            </div>
        </div>
    </div>

    <script>
        // Get the modals
        const modalsSettings = document.querySelectorAll(".modal");

        // Get the buttons that opens the modal

        const iconSettingsButtons = document.querySelectorAll(".icon_settings");
        iconSettingsButtons.forEach((button) => {
            let buttonID = button.getAttribute("id").split("-")[1];
            modalsSettings.forEach((modal) => {
                let modalID = modal.getAttribute("id").split("-")[1];
                if (buttonID === modalID) {
                    button.addEventListener("click", () => {
                        modal.classList.remove("hidden");

                        // If modal should close also after click button, use this:
                        // modal.classList.toggle("hidden")
                    });
                    modal
                        .querySelector(".close_settings")
                        .addEventListener("click", () => {
                            modal.classList.add("hidden");
                            // If modal should close also after click button, use this:
                            // modal.classList.toggle("hidden")
                        });
                }
            });
        });
    </script>
    {% else %}
    <h5 style="color: white" align="center">
        <i class="fa fa-info-circle"></i> Eventually your have no created tournaments.
    </h5>
    <br> {% endif %}
    <div align="center ">
        <a href="/new-tournament ">
            <button id="btn" type="button " class="btn-danger_nav_tournaments">
            <i class="fa fa-plus-circle"></i>
                Create tournament
            </button>
        </a>
    </div>
    <br />
</section>

{% endblock %}