 {% extends "base.html" %} {% block title %}Schedules{% endblock %} {% block content %}
<section class="tournaments_box_container container_tournaments">
    <br>
    <h3 align="center">Your Schedules</h3>
    <br>
    <ol class="list-group list-group-flush" id="pary">
        {% for tournament in user.tournaments %}

        <div align="center">
            <ol class="badge ">
                <button class="btn-danger_nav_list_group" onClick="showTournament({{tournament.id}})"> <div> <h4>{{tournament.name}} {{tournament.date}} {{tournament.location}}</h4> </div></button>
            </ol>
        </div>
        <br /> {% endfor %}
    </ol>

    <br />
    <div align="center">
        <a href="/new-schedule">
            <button type="button" class="btn-danger_nav_tournaments_blue">Generate new schedule</button>
        </a>
        <a href="/" style="margin-left: 25px;">
            <button type="button" class="btn-danger_nav_tournaments">Return home</button>
        </a>
    </div>
</section>

{% endblock %}