{% extends "base.html" %} {% block title %}Terminarz{% endblock %} {% block content %}
<section class="update_dual_box_container container_update_dual">
    <br>
    <h3 align="center">Terminarz</h3>
    <ol class="list-group list-group-flush" id="pary">
        <form method="POST">

            <div align="center">
                <ol class="badge">
                    <br> {% if dual.score_1 is none or dual.score_1 is none %} {% else %}
                    <h3 style="color: #5AA0BA;" align="center">{{dual.score_1}}:{{dual.score_2}}</h3>
                    {% endif %}
                    <br>
                    <div class="score_inputs">
                       <input class="type_score" name="score1" type="number" placeholder="{{dual.opponent_1.name}}" />
                    <span class="score-separator" style="color: whitesmoke; font-size: 30px;">|</span>
                    <input class="type_score" name="score2" type="number" placeholder="{{dual.opponent_2.name}}" /> 
                    </div>
                    
                </ol>
            </div>
            <br />

    </ol>

    <br />

    <div align="center">
        <button style="background-color: #3a5c39;" type="submit" href="/schedule" class="btn-danger_nav_schedule">Save</button>

        <a href="/delete-schedule">
            <button style="background-color: #fc5858;" type="button" class="btn-danger_nav_schedule">Reset</button>
        </a>
        <a href="/">
            <button style="background-color: #5AA0BA;" type="button" class="btn-danger_nav_schedule">Return home</button>
        </a>


    </div>
</section>
{% endblock %}