{% extends "base.html" %} {% block title %}Terminarz{% endblock %} {% block content %}
<section class="update_schedule_box_container container_update_schedule">
    <br>
    <h3 align="center">Terminarz</h3>
    <ol class="list-group list-group-flush" id="pary">
        <form method="POST">
            {% for dual in tournament.duals %}

            <div align="center">
                <ol class="badge">
                    <h2>{{dual.team_1.name}} <span style="color: #5AA0BA; font-weight: 700;">{{dual.score_1}} : {{dual.score_2}}</span> {{dual.team_2.name}}</h2>
                    <input class="type_score" style="margin: 1px" name="score" type="number" placeholder="Type Score" id="score[]" />
                    <input class="type_score" name="score" type="number" placeholder="Type Score" id="score[]" />
                </ol>
            </div>
            <br /> {% endfor %}
    </ol>

    <br />

    <div align="center">
        <button style="background-color: #3a5c39;" type="submit" href="/schedule" class="btn-danger_nav_schedule">Save</button>

        <a href="/delete-schedule">
            <button style="background-color: #fc5858;" type="button" class="btn-danger_nav_schedule">Reset</button>
        </a>
        <a href="/">
            <button style="background-color: #5AA0BA;" type="button" class="btn-danger_nav_schedule">Return home</button>
        </a>


    </div>
</section>
{% endblock %}