{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<section class="video_box_container container_video">
    <br>
    <h3 align="center">Video</h3>
    <hr style="width: 20%;" />
    <section style="display: flex; flex-wrap: wrap; align-items: center; margin-left: 50px;" class="container_contact ">

        <div class="card ">
            <div align="center ">
                <h4 class="h4_video">[nazwa live]</h4>
                <a href="#">
                    <button id="btn" class="btn-video">Live</button>
                </a>
            </div>
        </div>

        <div class="card ">
            <div align="center ">
                <h4 class="h4_video">[nazwa live]</h4>
                <a href="#">
                    <button id="btn" class="btn-video">Live</button>
                </a>
            </div>
        </div>

        <div class="card ">
            <div align="center ">
                <h4 class="h4_video">[nazwa live]</h4>
                <a href="#">
                    <button id="btn" class="btn-video">Live</button>
                </a>
            </div>
        </div>

        <div class="card ">
            <div align="center ">
                <h4 class="h4_video">[nazwa live]</h4>
                <a href="#">
                    <button id="btn" class="btn-video">Live</button>
                </a>
            </div>
        </div>



    </section>

</section>
{% endblock %}